/* You can add global styles to this file, and also import other style files */
body {
  background-color: black;
  color: wheat;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.grid {
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: calc(100% - 100px);
}
